<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.atomikosjtademo.mapping.CustInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.atomikosjtademo.model.CustInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    "id", "phone"
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from "C##CCTEST"."custinfo" where "id" = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from C##CCTEST."custinfo" where "id" = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.atomikosjtademo.model.CustInfo" >
    insert into C##CCTEST."custinfo" ("id", "phone") values(#{id,jdbcType=INTEGER}, #{phone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.atomikosjtademo.model.CustInfo" >
    insert into "C##CCTEST"."custinfo"
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        "id",
      </if>
      <if test="phone != null" >
        "phone",
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.atomikosjtademo.model.CustInfo" >
    update "C##CCTEST"."custinfo"
    <set >
      <if test="phone != null" >
        "phone" = #{phone,jdbcType=VARCHAR},
      </if>
    </set>
    where "id" = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.atomikosjtademo.model.CustInfo" >
    update C##CCTEST."custinfo"
    set "phone" = #{phone,jdbcType=VARCHAR}
    where "id" = #{id,jdbcType=INTEGER}
  </update>
</mapper>